.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 30px 30px 0 0;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
  gap: 25px;
  margin: 30px 0 50px 0;
}
.menu-area {
  display: flex;
  justify-content: center;
  position: relative;
}
.menu-search {
  position: absolute;
  top: 10px;
  right: 0;
  margin: 20px 30px 0 0;
}
input {
  border: none;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.new-product {
  font-size: 11px;
  height: 20px;
  color: rgb(8, 197, 8);
  font-weight: bold;
}
.card:hover {
  transform: scale(1.1);
  z-index: 1;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
.login-container {
  width: 30%;
  gap: 50px;
}
.login-text {
  margin-left: 10px;
}
.menu-search-text {
  margin-left: 10px;
}
.menu-items {
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.menu-items:hover {
  background-color: #a3a3a33a;
  color: rgb(255, 152, 161);
  scale: 1.2;
  transition: 0.5s;
}
.image-container {
  position: relative;
}

.choice {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.product-title {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}
.new-product {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  display: inline-flex;
  background-color: rgb(255, 252, 96);
  margin-bottom: 20px;
  animation: blink-effect 1.5s step-end infinite;
}

.product-price {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.add-button {
  margin-top: 20px;
  width: 80px;
}
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.card {
  cursor: pointer;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 100%;
  display: block;
}

.choice {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(250, 166, 166);
  background-color: #f7f4f4;
  padding: 5px;
}

.product-detail {
  padding: 8px;
}
.product-detail-title {
  font-weight: bold;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .menu-search,
  .nav-section,
  .menu-list,
  .menu-area,
  .card,
  .product-detail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-list {
    flex-direction: column;
    gap: 15px;
  }

  .menu-search {
    position: static;
    margin: 0 0 5px 50px;
    width: 60%;
  }

  .product-detail,
  .card {
    margin: 20px auto;
    width: 80%;
  }

  .image-container,
  .product-img {
    width: 100%;
  }

  .login-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .menu-items,
  .new-product,
  .product-title,
  .product-price {
    font-size: smaller;
  }
  .product-img {
    width: 80%;
  }
  .choice {
    display: none;
  }
  .login-button {
    font-size: 10px;
  }
  .menu-list {
    gap: 5px;
    margin: 10px 0 20px 0;
  }
}
